<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <input type="checkbox" <%= task.completed == true ? 'checked' : nil%>>
    <label for="task">
      <%= link_to "#{task.title}", task_path(task)  %>
    </label>
    <%end%>
    </li>
</ul>
</ul>

<%= link_to "Add a new task", new_path  %>


